<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetHouse</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>

    <header>

        <div class="container">
            <div class="top-header">
                <div class="logo">
                <img src="./img/logo-pethouse.png" alt="logo-pethouse">
            </div>
        </div>  
       
        <div class="top-header">
            <nav>
        
                <img src="./img/lupa-vetor.png" alt="lupa">
       
            </nav>
        </div>
        
        <div class="top-header">
            <div class="user-main">
                <div class="user-logo">
                    <a href="/meuPerfil"><img src="./img/user-vetor.png" alt="user"></a>
                </div>
                <div class="user">
                    <h1><strong>Olá, Entre</strong><br> ou cadastre-se</h1>
                </div>
            </div>
        </div>

        <div class="top-header">
                <a class="carrinho" href="/meuCarrinho"><img src="./img/carrinho-vetor.png" alt="carrinho"></a>
        </div>
    </div>
        <div class="bottom-header">
                <ul class="lista-de-animais">
                    <a href=""><li>Cachorro</li></a> 
                    <a href=""><li>Gato</li></a>
                    <a href=""><li>Coelho</li></a>
                    <a href=""><li>Hamster</li></a>
                    <a href=""><li>Chinchila</li></a>
                    <a href=""><li>Porquinho-da-índia</li></a>
                    <a href=""><li>Cavalo</li></a>
                    <a href=""><li>Outros Animais</li></a>
                </ul>
        </div>
    </header>

    <main>

        <div class="container-main">

            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            <p>Produto</p>
            
        </div>
        
    </main>

    <footer>
        <div class="container-footer-background">
            <div class="container">
            <div class="pgto">
                <div class="titulo">
                    <h1>Formas de Pagamento</h1>
                    <br>
                    <div class="listas">
                        <ul>
                            <li>Mastercard</li>
                            <li>VISA</li>
                            <li>ELO</li>
                            <li>American Express</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contatos">
                <div class="titulo">
                    <h1>Contatos</h1>
                    <br>
                    <div class="listas">
                        <ul>
                            <li>Tel. (00) 0000-0000</li>
                            <li>Wpp. (00) 0 0000-0000</li>
                            <li>E-mail: contato@pethouse.com</li>
                        </ul>
                    </div>
                </div>
            
            </div>
            <div class="navegacao">                    
                <div class="titulo">
                    <h1>Navegação</h1>
                    <br>
                    <div class="lista">
                        <ul class="lista-de-animais">
                            <a href=""><li>Cachorro</li></a> 
                            <a href=""><li>Gato</li></a>
                            <a href=""><li>Coelho</li></a>
                            <a href=""><li>Hamster</li></a>
                            <a href=""><li>Chinchila</li></a>
                            <a href=""><li>Porquinho-da-índia</li></a>
                            <a href=""><li>Cavalo</li></a>
                            <a href=""><li>Outros Animais</li></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sobre-nos">   
                <div class="titulo">
                    <h1>Sobre nós</h1>
                    <br>
                    <div class="lista">
                        <ul>
                            <li>Institucional</li>
                            <li>Trabalhe Conosco</li>
                        </ul>
                    </div>
                </div>                 
                
            </div>

        </div>
        </div>
        <div class="copyright">                    
            <h1>Copyright ©</h1>
        </div> 
    </footer>

</body>
</html>