

a { color: inherit; } 


.container{
    display: flex;
    box-sizing: border-box;
}


.container-main{
    display: flex;
    border: 5px solid black;
    padding: 500px;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    
}
.resumoPedido
{
    text-size-adjust: 40px;
}

.produtoEscolhido1 {
  
width: 763px;
height: 300px;
left: 108px;
top: 301px;

background: #F0F0D8;
border-radius: 17px;
margin-bottom: 20px;
}
.texto1
{
    text-align:right
}

.produtoEscolhido2 {
width: 763px;
height: 300px;
left: 108px;
top: 301px;

background: #F0F0D8;
border-radius: 17px;
margin-bottom: 20px;
}
.texto2
{
    text-align:right
}

.produtoEscolhido3 {
width: 763px;
height: 300px;
left: 108px;
top: 301px;

background: #F0F0D8;
border-radius: 17px;
margin-bottom: 100px;
}
.texto3
{
    text-align:right
}
.freteEValorTotal{
position: absolute;
width: 300px;
height: 200px;
left: 897px;
top: 150px;
background: #4b7062;
border-radius: 17px;
margin-bottom: 20px;



font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

}

